In [1]:
a=[11,2,3,4,5,6,7,8,9]
print(a)

[11, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
subjects=['Data Structures','Dbms','Software programees']
subjects

['Data Structures', 'Dbms', 'Software programees']

In [4]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [6]:
list2=list(range(1,9))
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
import random
random.shuffle(list2)
list2

[6, 5, 7, 2, 8, 1, 4, 3]

# list can be empty.

In [9]:
list=[]
list

[]

In [4]:
empty_list=[]
print(empty_list)

[]

In [5]:
list1=list()
print(list1)

list2=list([2,3,4,5])
list2=[2,3,4,5]
list2

[]

[2, 3, 4, 5]

# List comprehension

In [11]:
list1=[x for x in range (10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list1=[x for x in range(50) if x>20 and x<40]
list1

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [29]:
list1=[x**3 for x in range (1,10)]
list1

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [21]:
list1=[x for x in range (20) if x%3==0]
list1

[0, 3, 6, 9, 12, 15, 18]

In [23]:
list1=[ch for ch in'Hello world']
list1

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [32]:
list1=['red', 'green', 'blue', 'yellow']
list1

['red', 'green', 'blue', 'yellow']

In [38]:
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [40]:
list1=[x for x in range (15) if x%2==0]
list1

[0, 2, 4, 6, 8, 10, 12, 14]

# Lists are ordered

In [43]:
subjects=['Data structure','DBMS','software engineering','Computer Network']
print(subjects[2])
print(subjects[-1])

software engineering
Computer Network

In [44]:
str='Hello'
print(str)
print(id(str))
str='hello'*3
print(str)
print(id(str))

Hello
2138474778544
hellohellohello
2138474783600

# list are mutable

In [59]:
a=[30,45]
id(a)
a[1]=35
print(a)
id(a)

[30, 35]

2138474450368

In [60]:
fruits=['apple','Banana','mango','grapes','Cherry']
print(len(fruits))
for x in fruits:  #traversing list
    print('I want to eat:',x)

5
I want to eat: apple
I want to eat: Banana
I want to eat: mango
I want to eat: grapes
I want to eat: Cherry

In [61]:
x=[1,2,3,4,5] #list concatination
y=[6,7,8,9,10]
z=x+y
z

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
[0]*3  #list repitition * operator

[0, 0, 0]

In [63]:
x*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [51]:
y*3

[6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [53]:
z*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
g1=[1,2,3]
g2=[4,5,6]
print(id(g1))
print(id(g2))
g1.extend(g2)
print(g1)
print(id(g1))

2138473794304
2138473792192
[1, 2, 3, 4, 5, 6]
2138473794304

# List value

In [69]:
list1=[1,2,3,4,5,6]
print(list1)
list2=[x*3 for x in list1]
print(list2)

[1, 2, 3, 4, 5, 6]
[3, 6, 9, 12, 15, 18]

# List slicing

In [70]:
l=[90,7,15,8,74,25]
print(l[1:3])

l[1:3]=[2,2]

print(l)

[7, 15]
[90, 2, 2, 8, 74, 25]

In [71]:
print(l[:4])

[90, 2, 2, 8]

In [72]:
l[:3]

[90, 2, 2]

In [73]:
l[:]

[90, 2, 2, 8, 74, 25]

In [75]:
l[-1::-1]  #reverse

[25, 74, 8, 2, 2, 90]

In [77]:
list2=[90,76,56,34,24,10]
list3=['hi','A','b']
len(list2)

6

In [78]:
max(list3)

'hi'

In [79]:
min(list2)

10

In [82]:
sum(list2)

290

In [81]:
sum(list2)/len(list2)

48.333333333333336

In [83]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# List methods

Append,count,extend,insert,index,pop,reverse,remove,sort

In [84]:
sweets=[]

In [87]:
sweets.append('cookies')
sweets.append('Cakes')
print(sweets)

['cookies', 'Cakes', 'cookies', 'Cakes', 'cookies', 'Cakes']

In [89]:
sweets.append('chocolates')
print(sweets)

['cookies', 'Cakes', 'cookies', 'Cakes', 'cookies', 'Cakes', 'chocolates', 'chocolates']

In [92]:
sweets.extend(['icecream','muffin','pudding'])
print(sweets)

['cookies', 'Cakes', 'cookies', 'Cakes', 'cookies', 'Cakes', 'chocolates', 'chocolates', 'icecream', 'muffin', 'pudding', 'icecream', 'muffin', 'pudding', 'icecream', 'muffin', 'pudding']

In [7]:
sweets=[4][0]
print(sweets)

4

In [9]:
sweets=[]

In [14]:
sweets=['cake', 'chocolate']

In [15]:
sweets.append(['icecream','muffin','pudding'])
print(sweets)

['cake', 'chocolate', ['icecream', 'muffin', 'pudding']]

In [17]:
sweets[2]

['icecream', 'muffin', 'pudding']

In [18]:
sweets[2][1]

'muffin'

In [19]:
sweets.extend(['icecream','muffin','pudding'])
print(sweets)

['cake', 'chocolate', ['icecream', 'muffin', 'pudding'], 'icecream', 'muffin', 'pudding']

# Insert

In [22]:
names=['ram','sita','Raju']
names.insert(0,'rani')
names

['rani', 'ram', 'sita', 'Raju']

In [23]:
names.reverse()  #Reverse
print(names)

['Raju', 'sita', 'ram', 'rani']

In [25]:
l=[10,15,20,25]
print(l.insert(4,30))
l

None

[10, 15, 20, 25, 30]

In [27]:
#Deleting    pop,del remove operator

In [31]:
t=['a','b','c','d','e']
x=t.pop(1)
print(t)
print(x)

['a', 'c', 'd', 'e']
b

In [32]:
y=t.pop()
print(t)
print(y)

['a', 'c', 'd']
e

In [33]:
del t[1]
print(t)

['a', 'd']

In [42]:
a=['a','b','c','d','e',['f','g','h','i']]
del a[1:3]
print(a)
x=a[3].pop(2)
print(a)
print(x)

['a', 'd', 'e', ['f', 'g', 'h', 'i']]
['a', 'd', 'e', ['f', 'g', 'i']]
h

In [110]:
a=['a','b','c','d','e',['f','g','h','i']]
a.remove(a[3])
a

['a', 'b', 'c', 'e', ['f', 'g', 'h', 'i']]

In [45]:
l=[1,2,3,4,6,8,0,5,9,7,10,90,60,30,50]
l.sort()
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 50, 60, 90]

In [50]:
l.sort(reverse=True)
#x=l.sort(reverse=False)
#print(x)
l

[90, 60, 50, 30, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [51]:
l.sort(reverse=False)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 50, 60, 90]

In [55]:
10 in l

True

In [56]:
20 not in l

True

In [57]:
20 in l

False

In [58]:
x='shubham'
t=list(x)
print(t)

['s', 'h', 'u', 'b', 'h', 'a', 'm']

In [61]:
abc='This i a string with seven words'
l=abc.split()
l

['This', 'i', 'a', 'string', 'with', 'seven', 'words']

In [65]:
a='argseyh653icjgdxx#tcu5u6x#vfjcyy'
x=a.split('#')
x

['argseyh653icjgdxx', 'tcu5u6x', 'vfjcyy']

In [68]:
def listupdate(a,i,value):
    a[i]=value
def main():
    lst=[10,20,30,40,50,60,[70,80,90]]
    listupdate(lst,1,15)
    print(lst)
    
if __name__=='__main__':
    main()

[10, 15, 30, 40, 50, 60, [70, 80, 90]]

In [74]:
def main():
    a=input('Enter the values for list.')
    b=a.split()
    print(b)
    if 
    
if __name__=='__main__':
    main()

Enter the values for list.s h u b h a m
['s', 'h', 'u', 'b', 'h', 'a', 'm']

In [111]:
l=['Hope','Power','Positivity','Conscience','Faith','Trust']
print('Your list: \n',l)
for x in range (0,len(l)+1):
    print(x)
    if x%2==0:
        l.remove(l[int(x)])
print('New list : \n',l)

Your list:
 ['Hope', 'Power', 'Positivity', 'Conscience', 'Faith', 'Trust']
0
1
2
3
4

IndexError: list index out of range

In [86]:
l=['Hope','Power','Positivity','Conscience','Faith','Trust']
print('Your list: \n',l)
l.remove(l[4])
print('New list : \n',l)

Your list:
 ['Hope', 'Power', 'Positivity', 'Conscience', 'Faith', 'Trust']
New list :
 ['Hope', 'Power', 'Positivity', 'Conscience', 'Trust']

In [105]:
2%2

0

# Dictionaries

In [8]:
week={0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday'}#6:'Sunday'
print('week',week)
print('Type(week)',type(week))

week {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday'}
Type(week) <class 'dict'>

In [10]:
week[6]='sunday' #key value 6 is added
print(week[6])
print(week[0])

sunday
Monday

In [12]:
print('len(week)=',len(week))
print('max(week)=',max(week))
print('min(week)=',min(week))

len(week)= 7
max(week)= 6
min(week)= 0

In [14]:
print('len(week)=',len(week.values()))
print('max(week)=',max(week.values()))
print('min(week)=',min(week.values()))

len(week)= 7
max(week)= sunday
min(week)= Friday

In [16]:
print('Monday in week values=','Monday' in week.values())

Monday in week values= True

In [19]:
print('keys of week=',week.keys())
print('values of week=',week.values())
print('items of week=',week.items())

keys of week= dict_keys([0, 1, 2, 3, 4, 5, 6])
values of week= dict_values(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'sunday'])
items of week= dict_items([(0, 'Monday'), (1, 'Tuesday'), (2, 'Wednesday'), (3, 'Thursday'), (4, 'Friday'), (5, 'Saturday'), (6, 'sunday')])

In [21]:
#print('week at key = 4 is',week[10])
print('week at key = 4 is',week.get(10,'nothing'))

week at key = 4 is nothing

In [24]:
week={0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}
del week[6]
print('After deletion, week',week)

After deletion, week {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday'}

In [27]:
week6={6:'Sunday', '01':'January'}
week.update(week6)  #D1.update(D2)
print('After updating week',week)

After updating week {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday', '01': 'January'}

In [28]:
week.clear()
print(week)

{}

In [29]:
dic1={'A':'Apple','B':'Ball','C':'Cat',}

dic2={'D':'Dog','E':'Elephant','F':'Fish'}

dic1.update(dic2)
print(dic1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant', 'F': 'Fish'}

In [4]:
def Dict(string):
    a=0
    for ch in string:
        if(ch == 'a'):
            a+=1
            
    e=0
    for ch in string:
        if(ch == 'e'):
            e+=1
    
    i=0
    for ch in string:
        if(ch == 'i'):
o=0
    for ch in string:
        if(ch == 'o'):
            o+=1
            
    u=0
    for ch in string:
        if(ch == 'u'):
            u+=1
            
    dic={'a':a,'e':e,'i':i,'o':o,'u':u}
    print(dic)
    
    
def main():
    a=input('Enter the string  to print the dictionary of vowels in it.')
    Dict(a)
    
if __name__=='__main__':
    main()
                i+=1

Enter the string  to print the dictionary of vowels in it.shubham
{'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 1}