In [4]:
#Elements sets are immutable

In [2]:
alist=[1,2,3]
aset={alist,4,5}#list cannot be member of sets.

TypeError: unhashable type: 'list'

In [5]:
s1={1,2,2.5,'Hello',[1,2,3]}
s1

TypeError: unhashable type: 'list'

In [7]:
alist=[11,22,33,44,55]
aset=set(alist)
print(aset)
type(aset)

{33, 11, 44, 22, 55}

set

In [8]:
vowels_string='aaeiou'
set(vowels_string)

{'a', 'e', 'i', 'o', 'u'}

In [9]:
tuples=(0,1,2,3,4,5,6,7,8,9,10)
sets=set(tuples)
sets

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
digits=(1,2,3,4,5,6,7,8)

In [11]:
min(digits)

1

In [12]:
max(digits)

8

In [13]:
fruit={'apple', 'Banana','strawberry'}

In [15]:
fruit.add('pineapple')
fruit

{'Banana', 'apple', 'pineapple', 'strawberry'}

In [17]:
fruit.update(['cherry','grapes'])
fruit

{'Banana', 'apple', 'cherry', 'grapes', 'pineapple', 'strawberry'}

In [18]:
fruit.remove('strawberry')
fruit

{'Banana', 'apple', 'cherry', 'grapes', 'pineapple'}

In [19]:
fruit.clear()
fruit

set()

In [20]:
#operation on sets Union,Intersection,setdifference,symmetric  difference

In [22]:
aset={11,22,33}
bset={12,23,33}
c=aset|bset
print(c)
print(aset)
print(bset)
a=aset.union(bset)
a

{33, 22, 23, 11, 12}
{33, 11, 22}
{33, 12, 23}

{11, 12, 22, 23, 33}

In [23]:
aset&bset

{33}

In [24]:
aset.intersection(bset)

{33}

In [25]:
aset-bset# difference in sets

{11, 22}

In [26]:
bset-aset

{12, 23}

In [29]:
aset.difference(bset)

{11, 22}

In [30]:
#symmetric difference(^)

In [31]:
aset^bset

{11, 12, 22, 23}

In [33]:
aset.symmetric_difference(bset)

{11, 12, 22, 23}

In [34]:
#subset(<=)and superset(>=)

In [39]:
multiples2={2,4,6,8,10,12}
multiples4={4,8,12}
multiples4<=multiples2
multiples4.issubset(multiples2)

True

In [37]:
multiples2>=multiples4

True

In [40]:
num1=6
num2=15

In [42]:
commonfactor={i for i in range (1,min(num1+1,num2+1)) if  num1%i==0 and num2%i==0}
commonfactor

{1, 3}

In [45]:
def union(L1,L2):
    return list(set(L1).union(set(L2)))
def main():
    list_singers=['deepak','samarth','Gaurav','Rashmi','simran']
    list_dancers=['Arun','Radhika','Neeelam','Sanjay']
    print('People who like singing and dancing both are:',union(list_singers,list_dancers))
main()

People who like singing and dancing both are: ['Arun', 'simran', 'samarth', 'deepak', 'Gaurav', 'Radhika', 'Neeelam', 'Sanjay', 'Rashmi']

In [46]:
def string_set(s1,s2):
    set1=set(s1)
    set2=set(s2)
    print('The set of first string is',set1)
    print('The set of first string is',set2)
    
def Com_char(s1,s2):
    common=set(s1).intersection(set(s2))
    print('The set of common characters is', common)
    
    
def Diff_char():
    difference=set(s1)^set(s2)
    print('The set of distinct Character is',difference)
    
def main():
    print("MENU")
    print('1.convert each string into  a seperte list')
    print('2.To display common characters between the sets.')
    print('3.To display Distinct character in the list.')
    s1=str(input('Enter the string1'))
    s2=str(input('Enter the strring2'))
    
    choice=int(input('Enter a valid choice')
               
    if choice==1:
        string_set()
    elif choice==2:
        Com_char()
    elif choice==3:
        Diff_char()
    else:
        print('choose a  valid option.')
if __name__=='__main__':
   main()

SyntaxError: invalid syntax (<ipython-input-46-b0773f1a929f>, line 24)

In [47]:
#tuples

In [48]:
t1=()
print(t1)

t2=(1,3,5)
print(t2)

list=[1,2,3,4,5]
t5=tuple(list)
print(t5)
t3=tuple([2*x for x in range (1,5)])
print(t3)

()
(1, 3, 5)
(1, 2, 3, 4, 5)
(2, 4, 6, 8)

In [50]:
t4=tuple('abac')
t4

('a', 'b', 'a', 'c')

In [52]:
#Tuples are immutable.

In [56]:
t=(1,2,3,'a','b','c')
t[3]

'a'

In [57]:
t[4]=8

TypeError: 'tuple' object does not support item assignment

In [59]:
t2=('sunday','monday')
t2=t2+('tuesday',)
print(t2)

('sunday', 'monday', 'tuesday')

In [65]:
t2=t2+tuple(['wednesday'])
t2

('sunday',
 'monday',
 'tuesday',
 'w',
 'e',
 'd',
 'n',
 'e',
 's',
 'd',
 'a',
 'y',
 'w',
 'e',
 'd',
 'n',
 'e',
 's',
 'd',
 'a',
 'y',
 'w',
 'e',
 'd',
 'n',
 'e',
 's',
 'd',
 'a',
 'y',
 'wednesday',
 'wednesday',
 'wednesday')

In [69]:
t1=(1,2,1,4,5,6,8,10,-3,-6)
t2=('Monday', 'Tuesday', 'Wednesday','thursday')
tuple(zip(t1,t2))

((1, 'Monday'), (2, 'Tuesday'), (1, 'Wednesday'), (4, 'thursday'))